{% extends 'base.html.twig' %}

{% block title %}Mon panier!{% endblock %}

{% block content %}
    <h1>Mon panier</h1>
    Retrouvez ici l'ensemble des produits que vous avez ajouté à votre panier.
    <hr>
    {% if cart|length > 0 %}
        <table class="table mt-3">
            <thead>
            <tr>
                <th scope="col">Produit</th>
                <th scope="col"></th>
                <th scope="col">Quantité</th>
                <th scope="col">Prix</th>
                <th scope="col">Total</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% set total = null %}
            {% for product in cart %}
            <tr>
                <th>
                    <img src="/uploads/{{ product.products.illustration }}" alt="{{ product.products.name }}" height="75px">
                </th>
                <td>{{ product.products.name }}
                    <br>
                    <small>{{ product.products.subtitle }}</small>
                </td>
                <td>
                    <a href="{{ path('decrease_to_cart', { 'id' : product.products.id }) }}">
                        <img src="{{ asset('assets/img/minus-sign.png') }}" alt="-1" height="10px">
                    </a>
                    x {{ product.quantity }}
                    <a href="{{ path('add_to_cart', { 'id' : product.products.id }) }}">
                        <img src="{{ asset('assets/img/add.png') }}" alt="+1" height="10px">
                    </a>
                </td>
                <td>{{ (product.products.price / 100)|number_format(2, ',', '.') }} €</td>
                <td>{{ ((product.products.price * product.quantity) / 100)|number_format(2, ',', '.') }} €</td>
                <td>
                    <a href="{{ path('delete_to_cart', { 'id' : product.products.id}) }}">
                        <img src="{{ asset('assets/img/delete.png') }}" alt="Supprimer mon produit" height="18px">
                    </a>
                </td>
            </tr>
            {% set total = total + (product.products.price * product.quantity) %}
            {% endfor %}
            </tbody>
        </table>
        <div class="text-right mt-5">
            <!-- <b>Nombres de produits :</b> {{cart|length}} <br> -->
            <b>Total de mon panier :</b> {{ ( total / 100)|number_format(2, ',', '.') }} €
            <a href="{{ path('order') }}" class="btn btn-success btn-block mt-3">Valider mon panier</a>
        </div>
    {% else %}
        <hr>
        <p><b>Votre panier est vide.</b></p>
    {% endif %}
{% endblock %}
